/*----------Eléments principaux de la page----------*/

body{
width: 100%;
box-sizing: border-box; /*Evite les calculs: border, margin, padding*/
font-family: "Raleway",sans-serif;
margin: auto;
position: relative;
scroll-behavior: smooth;
}
a{text-decoration: none;
color: #000;
}
a:hover{
color:#0065FC;
}

/*----------------Eléments d'en-tête-----------------*/
/*Header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    padding: 50px 50px 30px 50px;
    }
    
    nav ul{
    display: flex;
    list-style-type: none;
    }
    nav a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding-left: 20px;
    }
    nav li{
    padding-left: 40px;
    }
    nav a:hover {
    color: #0065FC;
    }  
    nav li a:hover{
    border-top: solid 2px #0065FC;
    padding-top: 30px;
    } 
    
    #logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    }
    #logo img{
    width: 100px;
  
    }

/*Présentation*/
    #presentation{
    margin-left: 35px;
    }
    #presentation h1{
    font-size: 22px;
    font-weight: bold;
    }
    #presentation p{
    font-size: 16px;
    margin-left: 15px;
    }

/*Recherche*/

   .recherche form{
    display: flex;
    margin-left: 40px;
    }
    .recherche span{
    box-sizing: border-box;
    border-radius: 15px 0 0 15px;
    }
    .recherche input{
    border: #f2f2f2 solid;
    padding-left: 10px;
    font: bolder 18px "Raleway";/*obligée de préciser, avait mis "Arial"!*/
    }
    .recherche button{
    font-size: 18px;
    color: #FFF;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    padding-left: 15px;
    padding-right: 15px;
    }

    .icone-localisation{
    padding: 13px; 
    background-color: #f2f2f2; 
    }
    .localisation{ 
    cursor: pointer;
    border-color: #f2f2f2;
    }

/*Filtres*/

    .filtres{
    display: flex;
    align-items: center;
    margin: 10px 0 0px 35px;
    font-weight: bolder;
    font-size: 18px;
    }

    .filtres li{
    display: flex; /*si je l'enlève, ça remet les puces!?*/
    display: inline;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    border: #f2f2f2 solid;
    border-width: 2px;
    border-radius: 200px;
    padding: 10px 22px 10px 0px;
    margin-top: 15px;
    margin-left: 15px;
    }

    .filtres span{
    color: #0065FC;
    background-color: #DEEBFF;
    margin-right: 15px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    padding: 12px;
    }
    .filtres li:hover{
    background-color: #DEEBFF;
   }
   .filtres span i.fas.fa-money-bill-wave-alt
   {
   margin-left: -2px; 
   }
   .filtres span i.fas.fa-child{
   padding-left: 2px; 
   padding-right: 2px;
   }
   /*Nombre de logements disponibles*/
    .disponibilites{
    display: flex;
    align-items: center;
    margin: 0 0 25px 35px;
    }

    .disponibilites span{
    color: #0065FC;
    font-size: 12px ;
    border: #f2f2f2 1px solid;
    border-radius: 100%;
    padding: 6px 8px 6px 8px;
    width: 10px;
    height: auto;
    margin-right: 10px;
    }
    .disponibilites span i{
    padding-left: 3px;
    }
/*-------------------------------------Main-------------------------------------*/

    #hebergements{
    width: 100%;
    display: flex;
    justify-content: space-around;
    }
    /*---------Hebergements a Marseille---------*/
    .hebergements_marseille{
    width: 70%;
    height: fit-content; /*ajouté pour contrer parametres imposés*/
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 5px;
    margin-left: 35px;
    flex-wrap: wrap;
    }
    .hebergements_marseille h2, .afficher{
    font-weight: bolder;
    padding: 20px 30px 15px 15px;
    }
    .hotels_centre1, .hotels_centre2{
    display:flex;
    justify-content: space-around;
    margin: 30px;
    }
    .hotels{
    padding: 5px;
    background-color: #FFF; 
    border-radius: 15px;
    box-shadow: 1px 1px 8px #e2e2e2;
    width: 30%;
    height: 2.5%; 
    }
    .hotels img{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    }
    .hotels h3, p{
    font-size: 16px;
    margin-left: 15px;    
    }
    .stars{
    color:#0065FC;
    font-size: 70%;
    margin-left: 15px;
    }
    .stars .empty{
    color:#e2e2e2;
    }                   /*je n'arrive pas a reduire l'interligne dans les box hotel*/
    .afficher{
    font-size: 18px;
    margin-left: 25px;
    }
    /*---------Les plus populaires---------*/
    aside{
    width: 30%;
    margin: 0 25px 50px 25px;
    }    
  
    .les_plus_populaires{ 
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 10px;
    flex-wrap: wrap;
    }
    
   .titre_populaires{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px 30px 15px 15px;
   }
   .titre_populaires i{
    font-size:large;
   }
   .article .populaire{
    padding: 10px 0 10px 10px;
    width: 100%
   }
    .populaire{
    display:flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #FFF; 
    border-radius: 15px;
    box-shadow: 1px 1px 8px #e2e2e2;
    width: 80%;
    height: 145px;
    margin-left: 20px;
    margin-bottom: 40px;
    }
    .pop_link{
    width: 100%;
    display: flex;
    }
    .pop_img1{
    width: 40%;
    height: 145px;
    background-image: url("../assets/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: 50%;
    border-radius: 15px 0 0 15px;
    }
    .pop_img2{
    width: 40%;
    height: 145px;
    background-image: url("../assets/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: 50%;
    border-radius: 15px 0 0 15px;
    }
    .pop_img3{
    width: 40%;
    height: 145px;
    background-image: url("../assets/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: 50%;
    border-radius: 15px 0 0 15px;
    }
    .pop_text{
    width: 60%;
    height: 145px;
    display: flex;
    flex-direction: column;
    }
    .pop_text h3{
    margin: 10px 0 0 15px;
    }
    .pop_text p{
    margin-top: 5px;
    }
  
    .populaire .stars{
    color:#0065FC;
    font-size: 70%;
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
    }
    .populaire .stars .empty{
    color:#e2e2e2;
    }

/*----------------dernière section-------------*/
   #activites_marseille{
    
   }
    .activites article{
    background-color: #FFF; 
    border-radius: 15px;
    box-shadow: 1px 1px 8px #e2e2e2;
    }
    .activites{
    display: flex;
    justify-content: space-between;
    }

    .vieux_port img{
    width: 320px;
    height: 435px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    }

    .images_horz1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    width: 25%;
    border-radius: 15px 15px 0 0;
    }
    .pomegues img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    }
    .frioul img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    }

    .calanques img{
    width: 320px;
    height: 435px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    }   

    .images_horz2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 20px 20px;
    width: 25%;
    height: 200px;
    
    }
    .ntd_la_garde img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    }
    .parc_longchamp img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    }
    .activites h3{
    margin-left: 10px
    }

 /*------------------------------------Footer-----------------------------------*/

footer{
width: 100%;
display: flex;
flex-wrap: wrap;
background-color: #f2f2f2;
}

    .liste-liens{
    width: 33%;
    } 
    footer h3{
    font: bold 16px;
    margin-left: 40px;
    margin-top: 35px;
    }
    footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;    
    }
    footer li{
    padding: 0 0 15px 40px;
    }


 /*------------------media querries-----------------*/

