/*Eléments principaux de la page*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Evite les calculs: border, margin, padding*/
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

#bloc_page 
{
    width: 90%;
    margin: auto;
}

/*Header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /*utilisation propriété flexbox*/
    padding: 50px 30px 30px 30px;
}

    nav ul{
        display: flex;
        list-style-type: none;
        padding-left: 0;
    }
    nav a{
        text-decoration: none;
        font-size: 16px;
        color: #000;
    }
    nav li{
        padding-left: 50px;
    }

    nav a:hover{
        text-decoration: overline #0065FC solid;
        color: #0065FC;
    }   /*je n'arrive pas à remonter les surlignements*/
  
    header #logo{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    header #logo img{
        width: 100px;
    }

/*Présentation*/

    #presentation h1{
        font-size: 22px;
        font-weight: bold;
    }
    #presentation p{
        font-size: 14px;
    }


/*Recherche*/
    
.recherche{
    display: flex;
    box-sizing: border-box;
    padding: 12px;
    width: 60%;
    border: none;
    float: left;
}

.icone-localisation{
    padding: 10px; 
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    }

.localisation{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-color: #f2f2f2;
}
.research{

}
