/*----------Eléments principaux de la page----------*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Evite les calculs: border, margin, padding*/
    font-family: "Raleway",sans-serif;
    scroll-behavior: smooth;
    h2{
        font-size: ;
    }
}

a{text-decoration: none;
color: #000;
}
a:hover{
color:#0065FC;
}

#bloc_page {
    width: 90%;
    margin: auto;
}
/*----------------Eléments d'en-tête-----------------*/
/*Header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    padding: 50px 30px 30px 15px;
    }
    
    nav ul{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    }
    nav a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    }

    nav li{
    padding-left: 50px;
    }

    nav a:hover {
    color: #0065FC;
    }  

    nav li a:hover{
    border-top: solid 2px #0065FC;
    padding-top: 30px;
    } 
    
    #logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    }
    
    #logo img{
    width: 100px;
    padding-left: 0px;
    }

/*Présentation*/

    #presentation h1{
    font-size: 22px;
    font-weight: bold;
    }
    #presentation p{
    font-size: 16px;
    }

/*Recherche*/

   .recherche form{
    display: flex;
    width: 65%;
    }

    .recherche span{
    box-sizing: border-box;
    border-radius: 15px 0 0 15px;
    }

    .recherche input{
    border: #f2f2f2 solid;
    padding-left: 10px;
    font: bolder 18px "Raleway";/*obligée de préciser, avait mis "Arial"!*/
    }

    .recherche button{
    font-size: 18px;
    color: #FFF;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    padding-left: 15px;
    padding-right: 15px;
    }

    .icone-localisation{
    padding: 13px; 
    background-color: #f2f2f2; 
    }
    .filtres span i.fas.fa-money-bill-wave-alt
    {
    margin-left: -2px; 
    }
    .filtres span i.fas.fa-child{
    padding-left: 2px; 
    padding-right: 2px;
    }

    .localisation{ 
    cursor: pointer;
    border-color: #f2f2f2;
    }

/*Filtres*/

    .filtres{
    display: flex;
    align-items: center;
    margin: 10px 0 0px 10px;
    font-weight: bolder;
    font: #000 18px;
    }

    .filtres li{
    display: flex; /*si je l'enlève, ça remet les puces!?*/
    display: inline;
    text-decoration: none;
    font: #000 18px; /*pas efficace*/
    align-items: center;
    justify-content: space-between;
    border: #f2f2f2 solid;
    border-width: 2px;
    border-radius: 200px;
    padding: 10px 22px 10px 0px;
    margin-top: 15px;
    margin-left: 15px;
    }

    .filtres span{
    color: #0065FC;
    background-color: #DEEBFF;
    margin-right: 15px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    padding: 12px;
    }

    .filtres li:hover{
    background-color: #DEEBFF;
   }

   /*Nombre de logements disponibles*/
    .disponibilites{
    display: flex;
    align-items: center;
    }

    .disponibilites span{
    color: #0065FC;
    font-size: 12px ;
    border: #f2f2f2 1px solid;
    border-radius: 100%;
    padding: 6px 8px 6px 8px;
    width: 10px;
    height: auto;
    margin-right: 10px;
    }
    .disponibilites span i{
        padding-left: 3px;
    }
/*--------------------Main-------------------*/

    /*Hebergements a Marseille*/
    .hebergements_centre{
    display: flex;
    justify-content: space-between;
    }
    .hebergements_marseille{
    width: 66%;
    border-radius: 15px;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    }
    h2, .afficher{
    margin: 5%;
    font-weight: bolder;
    }
    .hotels_centre1, .hotels_centre2{
    display:flex;
    justify-content: space-around;
    margin: 30px;
    }
    .hotels{
    padding: 5px;
    background-color: #FFF; 
    border-radius: 15px;
    width: 30%;
    height: 250px;
    }
    .hotels img{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    }
    .hotels h3, p{
    margin-left: 10px;    
    }
    .stars{
    color:#0065FC;
    font-size: 70%;
    margin-left: 10px;
    }
    .stars .empty{
    color:#e2e2e2;
    }                   /*je n'arrive pas a reduire l'interligne dans les box hotel*/
   